body {
  background-color: #FAF9F6;
  font-family: "Plus Jakarta Sans",
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size: 1.25rem;
  color: #808080;
}

.bodyMargin {
  margin-left: 20%;
  margin-right: 20%;
}

.header {
  font-size: 3.5rem;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

:root {
  --animate-delay: 0.5s;
}